$body_background: #f1f0e8;
$heading_font: 'Zapf Humanist';



// window size

$mobile: 1040px;
$laptop: 1041px;
$desktop: 1200px;


@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}


@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}


@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}








// start


.about_cotent.content__item {
  transform: translateY(100px);
  transition: 0.8s;
}


.about_cotent.content__item.show {
  transform: translate(0, 0);
  opacity: 1;
}




.about__container {
  margin-top: 74px;
}


.about_title {
  margin-bottom: 140px;
  height: 430px;
  background: url('../img/bg/bg18.jpg') no-repeat;
  background-position: right center;
  background-size: cover;
  // background-color: #c1cac6;
  position: relative;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: -1;
  }
}


.about_title_copy {
  height: 100%;
  padding: 80px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fffef2;
  text-align: center;
  position: static;
  z-index: 3;

  h2 {
    margin-bottom: 10px;
  }

  p {
    width: 70%;
    margin: 0 auto;
  }

  @include desktop {
    width: 1200px;
    margin: 74px auto 0 auto;
  }
}


.about_content_container {
  padding: 0 30px 140px 30px;

  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }

}


.about_cotent {
  margin-bottom: 140px;

  @include laptop {
    display: flex;
  }
}


.about_cotent:nth-child(1) {

  @include laptop {

    .about_img_copy {
      padding-left: 40px;
    }
  }
}


.about_cotent:nth-child(2) {

  @include mobile {
    .about_img_copy {}
  }

  @include laptop {
    flex-direction: row-reverse;

    .about_img_copy {
      padding-right: 40px;
    }
  }
}

.about_cotent:nth-child(3) {

  @include mobile {
    .about_img_copy {}
  }

  @include laptop {

    .about_img_copy {
      // padding: 0 40px;
      padding-left: 40px;
    }
  }
}



.about_img_box {
  width: 100%;
  height: 400px;

  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  @include laptop {
    width: 50%;
  }
}


.about_img_copy {
  // background-color: #e9e8de;


  span {
    color: #777;
  }

  h3 {
    margin-top: 10px;
    margin-bottom: 40px;
    line-height: normal;
    color: #383838;
  }


  button {
    width: 140px;
    height: 50px;
    border: 1px solid #333;
    position: relative;
    transition: 0.3s;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #333;
      z-index: -1;
      transition: 0.3s;
    }

    &:hover::after {
      width: 100%;
    }

    &:hover {
      color: white;
    }
  }


  @include mobile {
    padding-top: 40px;
  }

  @include laptop {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}



.about_store_full {
  display: none;

  img {
    width: 100%;
  }
}


.about_quote {
  padding: 140px 0;
  text-align: center;

  p {
    margin-top: 20px;
  }
}