$body_background: #f1f0e8;
$heading_font: 'Zapf Humanist';



// window size

$mobile: 1040px;
$laptop: 1041px;
$desktop: 1200px;


@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}



//start

.news__container {
  margin-top: 74px;
}


.news__wrapper {
  padding: 80px 30px 140px 30px;

  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }
}


.news_title_box {
  margin-bottom: 80px;

  h2 {
    line-height: 2.5rem;
    margin-bottom: 10px;
  }
}


.news_content {

  @include mobile {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 80px 0;
  }

  @include laptop {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 80px 0;
  }
}


.news_box {
  display: none;

  @include laptop {
    >div {
      display: flex;
      flex-direction: row-reverse;
    }
  }
}


.news_box:nth-child(-n+6) {
  display: block;
}


.news_img_box {
  width: 100%;
  height: 300px;
  overflow: hidden;

  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: 0.3s;

    &:hover {
      transform: scale(1.04);
    }
  }
}


.news_content_copy {
  position: relative;
  margin-bottom: 20px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;

  span {
    font-size: 14px;
    color: #666;
  }

  h4 {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 1.8rem;
    height: 1.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
  }

  @include mobile {

    h4 {
      margin-bottom: 10px;
    }

    p {
      border-top: 1px solid rgb(179, 179, 179);
      padding-top: 20px;
      line-height: 1.3rem;
      height: calc(3.9rem + 20px);
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      word-wrap: break-word;
    }
  }

  @include laptop {
    width: 500px;
    flex-shrink: 0;
    padding-left: 40px;
    margin-bottom: 0;

    h4 {
      height: auto;
      padding-bottom: 10px;
      margin-bottom: 20px;
      border-bottom: 1px solid rgb(179, 179, 179);
    }
  }
}


.news_btn {
  padding-top: 60px;

  button {
    display: block;
    margin: 0 auto;
    width: 240px;
    height: 50px;
    border: 1px solid #333;
    position: relative;
    transition: 0.3s;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #333;
      z-index: -1;
      transition: 0.3s;
    }

    &:hover::after {
      width: 100%;
    }

    &:hover {
      color: white;
    }

    @include mobile {
      width: 180px;
    }
  }
}


.load_end {
  display: none;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  position: relative;

  p {
    cursor: pointer;
    width: auto;
    display: inline-block;
    margin: 0 auto;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: #333;
      transition: 0.3s;
    }

    &:hover::after {
      width: 100%;
    }
  }
}