$body_background: #f1f0e8;
$heading_font: 'Zapf Humanist';



// window size

$mobile: 1040px;
$laptop: 1041px;
$desktop: 1200px;


@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}




// start

.product__container {
  margin-top: 74px;
  padding: 30px 30px 140px 30px;

  @include desktop {
    width: 1200px;
    margin: 74px auto 0 auto;
  }

  >ul {
    margin-top: 20px;

    li {
      display: inline-block;

      &:nth-child(1)::after {
        content: ">";
        margin: 0 10px;
      }

      &:nth-child(2) {
        font-weight: 600;
      }
    }
  }
}


.product__wrapper {
  margin-top: 40px;

  @include laptop {
    display: flex;
  }
}


.product_detail_img {
  width: 100%;
  height: 500px;
  background-color: #e8e5d4;

  img {
    width: 300px;
    height: 400px;
    display: block;
    margin: 0 auto;
    padding-top: 80px;
    object-fit: cover;
  }

  @include laptop {
    flex-basis: 50%;

    img {
      width: 300px;
      height: 500px;
      padding-top: 0px;
    }
  }
}


.product_detail_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;

  h3 {
    margin-bottom: 30px;
  }

  @include laptop {
    flex-basis: 50%;
    margin-left: 40px;
    margin-top: 0;
  }
}


.sizeOption {
  padding: 40px 0 10px 0;
  display: flex;

  button {
    width: 50%;
    height: 50px;
    background-color: transparent;
    border: 1px solid #333;

    &:last-child {
      margin-left: 10px;
    }
  }
}


.sizeOption button.sizeSelected {
  background-color: #333;
  color: white;
}


.quantity {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;

  .result_value {
    line-height: 46px;
    font-weight: 600;
  }

  div {
    border: 1px solid #333;
    width: 140px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 24px;
  }
}


#plusbtn {
  width: 24px;
  height: 24px;
  border: none;
  background: url('../img/icon/plus.png') no-repeat;
  background-position: center center;
  background-size: 12px 12px;
  cursor: pointer;
}


#minusbtn {
  width: 24px;
  height: 24px;
  border: none;
  background: url('../img/icon/minus.png') no-repeat;
  background-position: center center;
  background-size: 12px 12px;
  cursor: pointer;
}


#result {
  line-height: 24px;
  margin: 0 10px;
}


.cartBtn_box {
  margin-top: 40px;
  display: flex;

  button {
    width: 100%;
    height: 50px;
    border: 1px solid #333;
    position: relative;
    transition: 0.3s;
    background-color: #333;
    color: white;
    transition: 0.3s;

    &:hover {
      background-color: black;
    }
  }

  span {
    width: 120px;
    height: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    line-height: 50px;
    border-left: 1px solid #666;
  }
}


.product_explanation {
  margin-top: 80px;
  padding-top: 40px;
  border-top: 2px solid #333;
}


.exp_wrapper {

  @include laptop {
    display: flex;
    flex-direction: row-reverse;
  }
}


.exp_img_box {
  height: 300px;
  margin-bottom: 20px;

  img {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
    margin: 0 auto;
  }

  @include laptop {
    flex-basis: 50%;
    height: 500px;
    margin-bottom: 0px;

    img {
      height: 500px;
    }
  }
}


.exp_copy {

  @include laptop {
    flex-basis: 50%;
    padding-right: 40px;
  }

  ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  li {
    padding: 20px 0;

    &:not(:last-child) {
      border-bottom: 1px solid rgb(142, 142, 123);
    }
  }

  span {
    font-weight: 700;
    font-size: 18px;
    display: block;
    margin-bottom: 5px;
  }
}


.product__related_container {
  margin-top: 140px;
}


.product__related_title_box {
  margin-bottom: 40px;
}


.related__product_swiper_container {
  position: relative;
}


.related__product_swiper {
  padding-bottom: 100px !important;
  position: static;

  .swiper-slide {
    padding: 0 10px 30px 10px;
    transition: 0.3s;

    &:hover {
      background-color: rgba(175, 172, 153, 0.1);
    }
  }

  .swiper-pagination {

    .swiper-pagination-bullet {
      width: 5%;
      height: 1.5px;
      border-radius: 0;
      margin: 0 !important;
      transition: ease-in 0.3s;

      &.swiper-pagination-bullet-active {
        width: 10%;
        background-color: #333;
      }
    }
  }

}


#relatedNext {
  right: -30px;
  width: 30px;
  height: 30px;
  padding: 8px;
  top: calc(50% - 40px) !important;

  &::after {
    font-size: 18px;
    color: #333;
  }

  &.swiper-button-disabled {
    opacity: 0.3;
  }
}


#relatedPrev {
  left: -30px;
  width: 30px;
  height: 30px;
  padding: 8px;
  top: calc(50% - 40px) !important;

  &::after {
    font-size: 18px;
    color: #333;
  }

  &.swiper-button-disabled {
    opacity: 0.5;
  }
}


.related_product_img {
  width: 100%;
  min-height: 300px;
  position: relative;

  img {
    width: 120px;
    height: 220px;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
  }
}