.product__container {
  margin-top: 74px;
  padding: 30px 30px 140px 30px;
}

@media (min-width: 1200px) {
  .product__container {
    width: 1200px;
    margin: 74px auto 0 auto;
  }
}

.product__container > ul {
  margin-top: 20px;
}

.product__container > ul li {
  display: inline-block;
}

.product__container > ul li:nth-child(1)::after {
  content: ">";
  margin: 0 10px;
}

.product__container > ul li:nth-child(2) {
  font-weight: 600;
}

.product__wrapper {
  margin-top: 40px;
}

@media (min-width: 1041px) {
  .product__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.product_detail_img {
  width: 100%;
  height: 500px;
  background-color: #e8e5d4;
}

.product_detail_img img {
  width: 300px;
  height: 400px;
  display: block;
  margin: 0 auto;
  padding-top: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (min-width: 1041px) {
  .product_detail_img {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .product_detail_img img {
    width: 300px;
    height: 500px;
    padding-top: 0px;
  }
}

.product_detail_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.product_detail_info h3 {
  margin-bottom: 30px;
}

@media (min-width: 1041px) {
  .product_detail_info {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-left: 40px;
    margin-top: 0;
  }
}

.sizeOption {
  padding: 40px 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sizeOption button {
  width: 50%;
  height: 50px;
  background-color: transparent;
  border: 1px solid #333;
}

.sizeOption button:last-child {
  margin-left: 10px;
}

.sizeOption button.sizeSelected {
  background-color: #333;
  color: white;
}

.quantity {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quantity .result_value {
  line-height: 46px;
  font-weight: 600;
}

.quantity div {
  border: 1px solid #333;
  width: 140px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 24px;
}

#plusbtn {
  width: 24px;
  height: 24px;
  border: none;
  background: url("../img/icon/plus.png") no-repeat;
  background-position: center center;
  background-size: 12px 12px;
  cursor: pointer;
}

#minusbtn {
  width: 24px;
  height: 24px;
  border: none;
  background: url("../img/icon/minus.png") no-repeat;
  background-position: center center;
  background-size: 12px 12px;
  cursor: pointer;
}

#result {
  line-height: 24px;
  margin: 0 10px;
}

.cartBtn {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cartBtn button {
  width: 100%;
  height: 50px;
  border: 1px solid #333;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #333;
  color: white;
  transition: 0.3s;
}

.cartBtn button:hover {
  background-color: black;
}

.cartBtn span {
  width: 120px;
  height: 50px;
  background-color: #333;
  color: white;
  text-align: center;
  line-height: 50px;
  border-left: 1px solid #666;
}

.product_explanation {
  margin-top: 80px;
  padding-top: 40px;
  border-top: 2px solid #333;
}

@media (min-width: 1041px) {
  .exp_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

.exp_img_box {
  height: 300px;
  margin-bottom: 20px;
}

.exp_img_box img {
  width: 100%;
  height: 300px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}

@media (min-width: 1041px) {
  .exp_img_box {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    height: 500px;
    margin-bottom: 0px;
  }
  .exp_img_box img {
    height: 500px;
  }
}

@media (min-width: 1041px) {
  .exp_copy {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-right: 40px;
  }
}

.exp_copy ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.exp_copy li {
  padding: 20px 0;
}

.exp_copy li:not(:last-child) {
  border-bottom: 1px solid #8e8e7b;
}

.exp_copy span {
  font-weight: 700;
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}

.product__related_container {
  margin-top: 140px;
}

.product__related_title_box {
  margin-bottom: 40px;
}

.related__product_swiper {
  padding-bottom: 100px !important;
}

.related__product_swiper .swiper-pagination .swiper-pagination-bullet {
  width: 5%;
  height: 1.5px;
  border-radius: 0;
  margin: 0 !important;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.related__product_swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 10%;
  background-color: #333;
}

.related__product_swiper .swiper-button-next {
  width: 30px;
  height: 30px;
  padding: 8px;
}

.related__product_swiper .swiper-button-next::after {
  font-size: 18px;
  color: #333;
}

.related__product_swiper .swiper-button-next.swiper-button-disabled {
  opacity: 0.3;
}

.related__product_swiper .swiper-button-prev {
  width: 30px;
  height: 30px;
  padding: 8px;
}

.related__product_swiper .swiper-button-prev::after {
  font-size: 18px;
  color: #333;
}

.related__product_swiper .swiper-button-prev.swiper-button-disabled {
  opacity: 0.5;
}

.related_product_img {
  width: 100%;
  min-height: 300px;
  position: relative;
}

.related_product_img img {
  width: 120px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=product.css.map */