$body_background: #f1f0e8;
$heading_font: 'Zapf Humanist';



// window size

$mobile: 1040px;
$laptop: 1041px;
$desktop: 1200px;


@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}


@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}


@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}




.question__cotainer {
  margin-top: 74px;
}


.question_title_container {
  width: 100%;
  height: 430px;
  background: url(../img/bg/bg19.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}


.question_title {
  width: 100%;
  height: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fffef2;
  text-align: center;

  h1 {
    margin: 0px 0 14px 0;
    font-size: 42px;
  }

  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }

}


.question_search_bar {
  padding: 80px 30px;

  @include laptop {
    padding: 80px 0;
    max-width: 800px;
    margin: 0 auto;
  }

  form {
    display: flex;
    border: 1px solid #333;
  }

  input {
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: none;
    padding: 0 20px;

    &::placeholder {
      color: #333;
    }
  }

  button {
    width: 50px;
    height: 50px;
    background: url('../img/icon/search.png') no-repeat;
    background-position: center center;
    background-size: 24px 24px;
    border-left: 1px solid #333;
  }
}


.question_tabWrap {
  padding: 0px 0 140px 0;

  @include mobile {
    padding: 0px 30px 140px 30px;
  }

  @include laptop {
    max-width: 800px;
    margin: 0 auto;
  }
}


.question__list {
  border: 1px solid #333;
  text-align: center;
  height: 50px;
  padding: 0 10px;
  transition: 0.3s;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #333;
    color: white;
  }

  h5 {
    line-height: 50px;
    height: 50px;
  }

  @include mobile {
    h5 {
      max-width: 100px;
      margin: 0 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}


.question__list.tabactive {
  background-color: #333;
  color: white;
}


.tab_cont {
  margin-top: 40px;

  div>ul>li {
    padding: 20px 0;
    border-top: 1px solid #333;

    &:last-child {
      border-bottom: 1px solid #333;
    }

    span {
      display: block;
      background: url('../img/icon/plus.png') no-repeat;
      background-position: right center;
      background-size: 16px 16px;
      padding-right: 20px;
      font-weight: 600;
      cursor: pointer;
    }
  }

  ul li p {
    display: none;
    padding: 30px 0 20px 0;
  }
}


.question__answer>ul>li>span.openAnswer {
  display: block;
  background: url('../img/icon/minus.png') no-repeat;
  background-position: right center;
  background-size: 16px 16px;
}


.order_answer {
  display: none;
}


.returns_answer {
  display: none;
}

.web_answer {
  display: none;
}


.go_contact_link {
  margin-top: 80px;
  text-align: center;

  a {
    display: inline-block;
    background: url(../img/icon/right-arrow.png) no-repeat;
    background-position: left center;
    background-size: 14px 14px;
    padding-left: 20px;
    cursor: pointer;
    position: relative;

    &::before {
      content: '';
      border-bottom: solid 1px #222;
      position: absolute;
      left: 20px;
      bottom: 0;
      width: 0;
      transition: all 0.4s ease;
    }

    &:hover::before {
      width: calc(100% - 20px);
    }
  }
}