@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url("/font/helvetica_neue/helvetica_neue/HelveticaNeueLTPro-UltLt.otf") format("opentype");
  font-style: normal;
  font-weight: 200;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url("/font/helvetica_neue/helvetica_neue/HelveticaNeueLTPro-Th.otf") format("opentype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url("/font/helvetica_neue/helvetica_neue/HelveticaNeueLTPro-Roman.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url("/font/helvetica_neue/helvetica_neue/HelveticaNeueLTPro-Md.otf") format("opentype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url("/font/helvetica_neue/helvetica_neue/helvetica_neue/HelveticaNeueLTPro-Bd.otf") format("opentype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url("/font/helvetica_neue/helvetica_neue/HelveticaNeueLTPro-Hv.otf") format("opentype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Zapf Humanist';
  src: url("/font/zapf_humanist/Zapf-Humanist-601-Demi-BT_49827.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue LT Pro';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3rem;
  color: #222;
  background-color: #f1f0e8;
  overscroll-behavior: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

h1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 46px;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

h4 {
  font-size: 18px;
  font-weight: 500;
}

h5 {
  font-size: 16px;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Zapf Humanist';
  line-height: normal;
}

a {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #222;
  cursor: default;
}

a:link {
  color: #222;
  text-decoration: none;
}

a:visited {
  color: #222;
}

a:hover {
  color: #222;
}

a:active {
  color: #222;
}

button {
  border: none;
  background-color: transparent;
  font-family: 'Helvetica Neue LT Pro';
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

img {
  width: 50px;
}

ul li {
  list-style: none;
}

video {
  width: 100%;
}

input,
select,
option,
textarea {
  font-family: 'Helvetica Neue LT Pro';
}

input,
select,
textarea {
  outline: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.notice {
  display: none;
}

header {
  width: 100%;
  height: 74px;
  position: fixed;
  top: 0;
  z-index: 20;
}

.header_container {
  padding: 0 30px;
}

.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aesop_logo a {
  width: 100%;
  height: 74px;
  display: block;
  position: relative;
  z-index: 20;
  cursor: pointer;
}

.aesop_logo svg {
  height: 24px;
  position: absolute;
  top: 50% !important;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
}

.aesop_logo span {
  visibility: hidden;
}

nav ul li a {
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.search {
  width: 40px;
  height: 74px;
  position: static;
  z-index: 20;
}

.search button {
  width: 40px;
  height: 74px;
  background: url("../img/icon/search.png") no-repeat;
  background-position: center center;
  background-size: 30px 30px;
}

.searchWindow {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 100vh;
  background-color: #f1f0e8;
}

.searchWindow_container {
  padding: 40px 30px;
}

.search_closeBtn {
  text-align: right;
}

.search_closeBtn button {
  width: 40px;
  height: 40px;
  background: url(../img/icon/close.png) no-repeat;
  background-position: center center;
  background-size: 24px 24px;
}

.searchBox {
  padding: 40px 0;
}

.searchBox form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #333;
}

.searchBox input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  padding: 0 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.searchBox input:focus {
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.searchBox button {
  width: 120px;
  background-color: #333;
  color: white;
  font-size: 14px;
}

.suggested span {
  display: block;
  font-weight: 700;
  margin-bottom: 20px;
}

.suggested a {
  display: inline-block;
  margin: 10px 10px 10px 0;
  border: 1px solid #7b7b7b;
  padding: 10px;
  opacity: 0;
  -webkit-animation: stagger-reveal 1.2s 1.2s alternate;
          animation: stagger-reveal 1.2s 1.2s alternate;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.suggested a:nth-child(1) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.suggested a:nth-child(2) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.suggested a:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.suggested a:nth-child(4) {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.suggested a:nth-child(5) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes stagger-reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes stagger-reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav_btn_mobile {
  display: block;
  width: 40px;
  height: 74px;
  position: static;
  z-index: 20;
}

.nav_btn_mobile button {
  width: 40px;
  height: 74px;
  position: relative;
}

.nav_btn_mobile button span {
  width: 30px;
  height: 1.2px;
  border-radius: 10px;
  background-color: #222;
  position: absolute;
  left: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav_btn_mobile .navbtn_line1 {
  top: 27px;
}

.nav_btn_mobile .navbtn_line2 {
  top: 37px;
}

.nav_btn_mobile .navbtn_line3 {
  top: 47px;
}

.nav_btn_mobile button.navOpen .navbtn_line1 {
  top: 37px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav_btn_mobile button.navOpen .navbtn_line2 {
  opacity: 0;
}

.nav_btn_mobile button.navOpen .navbtn_line3 {
  top: 37px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 1040px) {
  .headerTop {
    background-color: #f1f0e8 !important;
    border-bottom: 1px solid #333;
  }
  .gnb {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    width: 100%;
    height: 100vh;
    background-color: #f1f0e8;
    position: fixed;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .gnb.gnbOpen {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .gnb_container {
    padding: 130px 0 40px 0;
  }
  nav ul li {
    padding: 20px 30px;
  }
  .header_utility {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1041px) {
  header {
    border-bottom: 1px solid #414141;
    background-color: #f1f0e8;
  }
  .header_wrapper .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gnb {
    display: block !important;
    margin-left: 20px;
  }
  nav ul li {
    display: inline-block;
    margin: 0 10px;
    line-height: 74px;
  }
  nav ul li a {
    font-weight: 400;
  }
  .nav_btn_mobile {
    display: none;
  }
}

@media (min-width: 1200px) {
  .searchWindow_container {
    width: 1200px;
    margin: 0 auto;
  }
}

.cartadded {
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.cartadded::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: -1;
}

.cartadded.cartnew::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  top: 0;
  right: -10px;
  border-radius: 50%;
  background-color: #b54a4a;
}

.main_swiper .swiper-slide.swiper-slide-active .main-copy > * {
  -webkit-animation: fade-show-top 1s;
          animation: fade-show-top 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

.main_swiper .swiper-slide.swiper-slide-active .main-copy span {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.main_swiper .swiper-slide.swiper-slide-active .main-copy h2 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.main_swiper .swiper-slide.swiper-slide-active .main-copy p {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.main_swiper .swiper-slide.swiper-slide-active .main-copy button {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes fade-show-top {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-show-top {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.main_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.main-copy span {
  color: #999;
}

.main-copy h2 {
  margin: 5px 0 15px 0;
  line-height: normal;
}

.main-copy p {
  margin-bottom: 40px;
}

.main-copy button {
  width: 180px;
  height: 50px;
  border: 1px solid #333;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-copy button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #333;
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-copy button:hover::after {
  width: 100%;
}

.main-copy button:hover {
  color: white;
}

#main-next {
  right: 5%;
  width: 34px;
  height: 34px;
  padding: 8px;
}

#main-next::after {
  font-size: 14px;
  color: #333;
}

#main-next.swiper-button-disabled {
  opacity: 0.3;
}

#main-prev {
  left: 5%;
  width: 34px;
  height: 34px;
  padding: 8px;
}

#main-prev::after {
  font-size: 14px;
  color: #333;
}

#main-prev.swiper-button-disabled {
  opacity: 0.5;
}

#main-pagination {
  height: 2px;
}

.main-pagination {
  height: 20px !important;
}

.main-pagination .swiper-pagination-bullet {
  width: 20px !important;
  height: 20px;
  font-size: 12px;
  border: 1px solid #333;
  color: #333;
  background-color: transparent;
}

.main-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: transparent;
  font-weight: 700;
}

@media (max-width: 1040px) {
  .main_swiper {
    width: 100%;
    height: 100vh;
  }
  .main_swiper .swiper-slide {
    position: relative;
  }
  .main-copy_container {
    position: absolute;
    top: 30%;
    left: 30px;
    right: 30px;
  }
  .main-copy {
    text-align: center;
  }
  .main_img img {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #main-prev,
  #main-next {
    display: none;
  }
  #main-pagination {
    width: 50% !important;
    top: auto;
    bottom: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .main-pagination {
    height: 40px !important;
  }
  .main-pagination .swiper-pagination-bullet {
    width: 40px !important;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
}

@media (min-width: 1041px) {
  main {
    margin-top: 74px;
    border-bottom: 1px solid #414141;
  }
  .main_container {
    width: 100%;
    height: 680px;
  }
  .main_swiper .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-copy_container {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  .main-copy {
    padding: 0 30px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main_img {
    width: 100%;
    height: 680px;
  }
  .main_img img {
    width: 100%;
    height: 680px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #main-next {
    left: 138px;
    top: auto;
    bottom: 140px;
  }
  #main-prev {
    left: 30px;
    right: auto;
    top: auto;
    bottom: 140px;
  }
  #main-pagination {
    width: 84px !important;
    top: auto;
    bottom: 147px;
    left: 60px;
    right: auto;
  }
}

.popular {
  padding: 140px 30px;
}

.popular_title {
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.popular_title h2 {
  margin-bottom: 10px;
}

.popular_title a {
  position: relative;
  display: inline-block;
}

.popular_title a::before {
  content: '';
  border-bottom: solid 1px #222;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.popular_title a:hover::before {
  width: 100%;
}

.popular_wrapper {
  position: relative;
}

.popular_swiper {
  padding-bottom: 100px !important;
  position: static;
}

.popular_swiper .swiper-slide {
  padding: 0 10px 30px 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.popular_swiper .swiper-slide:hover {
  background-color: rgba(175, 172, 153, 0.1);
}

.popular_product_img {
  width: 100%;
  min-height: 300px;
  position: relative;
}

.popular_product_img img {
  width: 120px;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.product_info_box {
  text-align: center;
}

.product_info_box h6 {
  font-size: 18px;
}

.product_info_box p {
  padding: 10px 0 30px 0;
  border-bottom: 1px solid #949494;
}

.product_info_box span {
  display: block;
  padding: 20px 0;
}

.product_info_box button {
  width: 140px;
  height: 50px;
  border: 1px solid #333;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product_info_box button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #333;
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product_info_box button:hover::after {
  width: 100%;
}

.product_info_box button:hover {
  color: white;
}

#popular-pagination .swiper-pagination-bullet {
  width: 5%;
  height: 1.5px;
  border-radius: 0;
  margin: 0 !important;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

#popular-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 10%;
  background-color: #333;
}

#popular-next {
  right: -30px;
  width: 30px;
  height: 30px;
  padding: 8px;
}

#popular-next::after {
  font-size: 18px;
  color: #333;
}

#popular-next.swiper-button-disabled {
  opacity: 0.3;
}

#popular-prev {
  left: -30px;
  width: 30px;
  height: 30px;
  padding: 8px;
}

#popular-prev::after {
  font-size: 18px;
  color: #333;
}

#popular-prev.swiper-button-disabled {
  opacity: 0.5;
}

@media (min-width: 1200px) {
  .popular {
    width: 1200px;
    margin: 0 auto;
  }
}

.hand {
  padding: 0 30px 0px 30px;
}

.hand_img_box img {
  width: 100%;
  display: block;
}

.hand-copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hand-copy span {
  color: #999;
}

.hand-copy h2 {
  margin: 5px 0 15px 0;
  line-height: normal;
}

.hand-copy p {
  margin-bottom: 40px;
}

.hand-copy button {
  width: 180px;
  height: 50px;
  border: 1px solid #333;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hand-copy button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #333;
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hand-copy button:hover::after {
  width: 100%;
}

.hand-copy button:hover {
  color: white;
}

@media (max-width: 1040px) {
  .hand_img_box {
    width: 100%;
    height: 300px;
  }
  .hand_img_box img {
    width: 100%;
    height: 300px;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hand-copy {
    padding-top: 30px;
  }
}

@media (min-width: 1041px) {
  .hand_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  .hand_img_box {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media (min-width: 1200px) {
  .hand {
    width: 1200px;
    margin: 0 auto;
  }
}

.hand1 {
  padding: 0 30px 140px 30px;
}

.hand1_img_box img {
  width: 100%;
  display: block;
}

.hand1-copy span {
  color: #999;
}

.hand1-copy h2 {
  margin: 5px 0 15px 0;
  line-height: normal;
}

.hand1-copy p {
  margin-bottom: 40px;
}

.hand1-copy button {
  width: 180px;
  height: 50px;
  border: 1px solid #333;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hand1-copy button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #333;
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.hand1-copy button:hover::after {
  width: 100%;
}

.hand1-copy button:hover {
  color: white;
}

@media (max-width: 1040px) {
  .hand1_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .hand1_img_box {
    width: 100%;
    height: 300px;
  }
  .hand1_img_box img {
    width: 100%;
    height: 300px;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hand1-copy {
    padding-top: 30px;
    text-align: right;
  }
}

@media (min-width: 1041px) {
  .hand1_container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  .hand1_img_box {
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
  }
  .hand1-copy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1200px) {
  .hand1 {
    width: 1200px;
    margin: 0 auto;
  }
}

.skin {
  background-color: #e8e5d4;
}

.skin_container {
  padding: 140px 30px;
}

.skin-copy {
  text-align: center;
}

.skin-copy h1 {
  font-size: 48px;
}

.skin-copy h4 {
  margin-top: 50px;
  margin-bottom: 20px;
}

.skin-copy p {
  width: 70%;
  margin: 0 auto;
}

.skin_type {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skin_type a {
  text-align: center;
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #333;
  margin: 0 10px;
  padding-top: 60px;
  font-family: "Zapf Humanist";
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.skin_type a:nth-child(4) {
  padding-top: 50px;
}

.skin_type a:hover {
  color: white;
  background-color: #333;
}

@media (max-width: 1040px) {
  .skin_type {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 320px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .skin_container {
    width: 1200px;
    margin: 0 auto;
  }
}

.summer {
  padding: 140px 40px 0 40px;
  text-align: center;
}

.summer-copy {
  margin-bottom: 40px;
}

.summer-copy h2 {
  margin-bottom: 10px;
}

.summer-copy p {
  width: 70%;
  margin: 0 auto;
}

.summer_card_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.summer_card_wrapper img {
  width: 100%;
  display: block;
}

.summer_card {
  border: 1px solid #333;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.summer_card img {
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #333;
  background-color: #e0dfd6;
  display: block;
}

.summer_card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.summer_card_copy {
  padding: 20px;
}

.summer_btn {
  margin-top: 60px;
}

.summer_btn button {
  width: 180px;
  height: 50px;
  border: 1px solid #333;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.summer_btn button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #333;
  z-index: -1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.summer_btn button:hover::after {
  width: 100%;
}

.summer_btn button:hover {
  color: white;
}

@media (min-width: 1041px) {
  .summer_card_wrapper {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

@media (min-width: 1200px) {
  .summer {
    width: 1200px;
    margin: 0 auto;
  }
}

.location {
  padding: 140px 0;
}

.location-copy {
  padding: 0 30px;
}

.location-copy h2 {
  margin-bottom: 10px;
}

.location-copy button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 20px;
}

.location-copy button span {
  display: block;
}

.location-copy button span:last-child {
  margin-left: 5px;
  width: 14px;
  height: 20px;
  background: url("../img/icon/right-arrow-long.png") no-repeat;
  background-position: center center;
  background-size: 14px 14px;
}

.location_swiper {
  margin-top: 40px;
  padding-bottom: 80px !important;
}

.location_swiper .swiper-slide {
  overflow: hidden;
}

.location_swiper img {
  width: 100%;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.location_swiper img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.location_swiper .swiper-button-next {
  width: 30px;
  height: 30px;
  padding: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.location_swiper .swiper-button-next::after {
  font-size: 18px;
  color: white;
}

.location_swiper .swiper-button-next.swiper-button-disabled {
  opacity: 0.3;
}

.location_swiper .swiper-button-prev {
  width: 30px;
  height: 30px;
  padding: 8px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.location_swiper .swiper-button-prev::after {
  font-size: 18px;
  color: white;
}

.location_swiper .swiper-button-prev.swiper-button-disabled {
  opacity: 0.5;
}

.location_swiper .swiper-pagination .swiper-pagination-bullet {
  width: 5%;
  height: 1.5px;
  border-radius: 0;
  margin: 0 !important;
  -webkit-transition: ease-in 0.3s;
  transition: ease-in 0.3s;
}

.location_swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 10%;
  background-color: #333;
}

@media (min-width: 1200px) {
  .location-copy {
    width: 1200px;
    margin: 0 auto;
  }
}

footer {
  background-color: #ceccbf;
  border-top: 2px solid #333;
  font-size: 14px;
}

.footer_container {
  padding: 80px 30px 140px 30px;
}

.social {
  padding-bottom: 100px;
}

.email h4 {
  margin-bottom: 20px;
}

.email > input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #333;
  padding: 0 20px;
  background-color: transparent;
}

.email_checkBox {
  margin-top: 10px;
}

.email_checkBox input {
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #333;
  background-color: transparent;
}

.socialmedia ul li {
  display: inline-block;
  margin: 0 5px;
}

.socialmedia ul li a {
  display: block;
  width: 30px;
  height: 30px;
}

.socialmedia ul li:nth-child(1) {
  background: url("../img/icon/facebook.png") no-repeat;
  background-position: center center;
  background-size: 30px 30px;
}

.socialmedia ul li:nth-child(2) {
  background: url("../img/icon/instagram.png") no-repeat;
  background-position: center center;
  background-size: 30px 30px;
}

.socialmedia ul li:nth-child(3) {
  background: url("../img/icon/youtube.png") no-repeat;
  background-position: center center;
  background-size: 30px 30px;
}

.footernav_inner li {
  margin: 10px 0;
}

.footernav_inner li a {
  position: relative;
  display: inline-block;
}

.footernav_inner li a::before {
  content: '';
  border-bottom: solid 1px #222;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.footernav_inner li a:hover::before {
  width: 100%;
}

@media (max-width: 1040px) {
  .socialmedia {
    margin-top: 20px;
  }
  .footer_nav > ul > li {
    border-top: 1px solid #333;
  }
  .footer_head {
    text-transform: uppercase;
    font-weight: 700;
    padding: 16px 0;
    display: block;
    cursor: pointer;
    background-image: url("../img/icon/plus.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 18px 18px;
  }
  .footer_head.footernavOpen {
    background-image: url("../img/icon/minus.png");
  }
  .footer_nav > ul > li:last-child {
    border-bottom: 1px solid #333;
  }
  .footernav_inner {
    padding-bottom: 20px;
    display: none;
  }
}

@media (min-width: 1041px) {
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .email {
    width: 50%;
  }
  .footer_nav > ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
  }
  .footer_head {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 14px;
    display: block;
  }
  .footernav_inner {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .footer_container {
    width: 1200px;
    margin: 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */