// default
@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../font/OpenSans/OpenSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}


@font-face {
  font-family: 'Open Sans', sans-serif;
  src: url('../font/OpenSans/OpenSans-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}



@font-face {
  font-family: 'Zapf Humanist';
  src: url('../font/zapf_humanist/Zapf-Humanist-601-Demi-BT_49827.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}




$body_background: #f1f0e8;
$heading_font: 'Zapf Humanist';



// window size

$mobile: 1040px;
$laptop: 1041px;
$desktop: 1200px;


@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}


@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}


@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}


// setting

html {
  scroll-behavior: smooth;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid gray;
}


body {
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3rem;
  color: #222;
  background-color: $body_background;
  overscroll-behavior: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow-x: hidden !important;
}


h1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 46px;
  // text-transform: uppercase;
}


h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
}


h3 {
  font-size: 24px;
  font-weight: 500;
}


h4 {
  font-size: 18px;
  font-weight: 500;
}


h5 {
  font-size: 16px;
  font-weight: 500;
}


h1,
h2,
h3,
h4,
h5 {
  font-family: 'Zapf Humanist';
  line-height: normal;
}


a {
  transition: all 0.3s;
  color: #222;
  cursor: default;
}


a:link {
  color: #222;
  text-decoration: none;
}


a:visited {
  color: #222;
}


a:hover {
  color: #222;
}


a:active {
  color: #222;
}


button {
  color: #333;
  border: none;
  background-color: transparent;
  font-family: 'Hind', sans-serif;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s;
}


img {
  width: 50px;
}


ul li {
  list-style: none;
}


video {
  width: 100%;
}


input,
select,
option,
textarea {
  font-family: 'Hind', sans-serif;
}


input,
select,
textarea {
  outline: none;
}


select {
  appearance: none;
}


// start




// scroll event

.content__item {
  opacity: 0;
  transition: all 1s;
}


.popular.content__item {
  transform: translateY(200px);
}


.travel.content__item {
  transform: translateX(200px);
}


.video_content .content__item {
  transform: translateY(200px);
}


.hand1.content__item {
  transform: translateX(-200px);
}


.skin_container.content__item {
  transform: translateY(200px);
}


.summer_card.content__item {
  transform: translateY(10px);
  transition: 1.4s;
}


.summer_card_wrapper {

  .summer_card:nth-child(1) {
    transition-delay: 0.2s;
  }

  .summer_card:nth-child(2) {
    transition-delay: 0.4s;
  }

  .summer_card:nth-child(3) {
    transition-delay: 0.6s;
  }

  .summer_card:nth-child(4) {
    transition-delay: 0.8s;
  }
}


.content__item.show {
  transform: translateX(0);
  opacity: 1;
}

//---------------------------------



.body.bodyfixed {
  overflow-y: hidden;
}



//modal

.cart_modal {
  display: none;
  width: 100%;
  height: 74px;
  background-color: rgba(220, 218, 204, 0.9);
  position: absolute;
  top: 0;
  z-index: 999;
  position: fixed;

  p {
    text-align: center;
    font-family: $heading_font;
    font-size: 24px;
    line-height: 74px;
  }


  // @include laptop {
  //   top: 74px;
  // }
}


.cart_modal.modal_show {
  display: block;
}




// header


header {
  width: 100%;
  height: 74px;
  position: fixed;
  top: 0;
  z-index: 20;

  @include laptop {
    border-bottom: 1px solid #414141;
    background-color: $body_background;
  }
}


.headerTop {

  @include mobile {
    // top: 0;
    background-color: $body_background !important;
    border-bottom: 1px solid #333;
  }
}



.header_container {
  padding: 0 30px;
}


.header_wrapper {
  display: flex;
  justify-content: space-between;

  @include laptop {
    .wrapper {
      display: flex;
    }
  }
}


.aesop_logo {

  a {
    width: 100%;
    height: 74px;
    display: block;
    position: relative;
    z-index: 20;
    cursor: pointer;
  }

  svg {
    height: 24px;
    position: absolute;
    top: 50% !important;
    transform: translateY(-50%);
    display: block;
  }


  span {
    visibility: hidden;
  }
}



.gnb {

  @include mobile {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    transform: translateX(100%);
    width: 100%;
    height: 100vh;
    background-color: $body_background;
    position: fixed;
    transition: 0.3s;
    overflow-y: scroll;
  }

  @include laptop {
    display: block !important;
    margin-left: 20px;
  }

}


.gnb.gnbOpen {
  transform: translateX(0);
}


.gnb.gnbOpen {
  transform: translateX(0);
}


.gnb_container {
  @include mobile {
    padding: 140px 0 40px 0;
  }

}


nav {

  ul li {

    @include mobile {
      padding: 20px 30px;
      font-size: 20px;
      transition: 0.3s;
      text-align: center;

      &:hover {
        background-color: rgba(175, 172, 153, 0.1);
      }
    }


    @include laptop {
      display: inline-block;
      margin: 0 10px;
      line-height: 74px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 1px;
        background-color: #333;
        transition: 0.3s;
      }

      &:hover::after {
        width: 100%;
      }
    }

    a {
      text-transform: uppercase;
      cursor: pointer;
    }

  }
}


.header_utility {

  @include mobile {
    display: flex;
  }
}


.search {
  width: 40px;
  height: 74px;
  position: static;
  z-index: 20;

  button {
    width: 40px;
    height: 74px;
    background: url('../img/icon/search.png') no-repeat;
    background-position: center center;
    background-size: 30px 30px;
  }
}



.searchWindow {
  transition: ease-in-out 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100%;
  height: 0;
  opacity: 0;
  overflow: hidden;
  background-color: $body_background;
}


.searchWindow_fadeIn {
  // display: block;
  height: 100vh;
  opacity: 1;
  // transform: translateY(0);
}


.searchWindow_container {
  padding: 40px 30px;

  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }
}


.search_closeBtn {
  text-align: right;

  button {
    width: 40px;
    height: 40px;
    background: url(../img/icon/close.png) no-repeat;
    background-position: center center;
    background-size: 24px 24px;
  }

}


.searchBox {
  padding: 40px 0;

  form {
    display: flex;
    border: 1px solid #333;
  }

  input {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    padding: 0 20px;
    transition: 0.2s;

    &:focus {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    }
  }

  button {
    width: 120px;
    background-color: #333;
    color: white;
    font-size: 14px;
  }
}


.suggested {

  span {
    display: block;
    font-weight: 700;
    margin-bottom: 20px;
  }

  a {
    display: inline-block;
    margin: 10px 10px 10px 0;
    border: 1px solid #7b7b7b;
    padding: 10px;
    opacity: 0;
  }
}



.suggested a.stagger_active {
  animation: stagger-reveal 1.2s 1.2s alternate;
  animation-fill-mode: forwards;

  &:nth-child(1) {
    animation-delay: 0.2s;
  }

  &:nth-child(2) {
    animation-delay: 0.4s;
  }

  &:nth-child(3) {
    animation-delay: 0.6s;
  }

  &:nth-child(4) {
    animation-delay: 0.8s;
  }

  &:nth-child(5) {
    animation-delay: 1s;
  }
}


@keyframes stagger-reveal {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



.nav_btn_mobile {
  display: block;
  width: 40px;
  height: 74px;
  position: static;
  z-index: 20;

  button {
    width: 40px;
    height: 74px;
    position: relative;

    span {
      width: 30px;
      height: 1.2px;
      border-radius: 10px;
      background-color: #222;
      position: absolute;
      left: 5px;
      transition: 0.3s;
    }
  }

  .navbtn_line1 {
    top: 27px;
  }

  .navbtn_line2 {
    top: 37px;
  }

  .navbtn_line3 {
    top: 47px;
  }


  @include laptop {
    display: none;
  }
}


.nav_btn_mobile button.navOpen .navbtn_line1 {
  top: 37px;
  transform: rotate(45deg);
}


.nav_btn_mobile button.navOpen .navbtn_line2 {
  opacity: 0;
}


.nav_btn_mobile button.navOpen .navbtn_line3 {
  top: 37px;
  transform: rotate(-45deg);
}




.cartadded {
  position: relative;
  transition: 0.4s;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    background-color: transparent;
    transition: 0.4s;
    z-index: -1;
  }

}


.cartadded.cartnew {

  &::after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    top: 0;
    right: -10px;
    border-radius: 50%;
    background-color: rgb(181, 74, 74);
  }
}




// main


main {

  @include laptop {
    margin-top: 74px;
    border-bottom: 1px solid #414141;
  }
}


.main_container {

  @include laptop {
    width: 100%;
    height: 680px;
  }

}



.main_swiper .swiper-slide.swiper-slide-active {

  .main-copy {

    >* {
      animation: fade-show-top 1s;
      animation-fill-mode: forwards;
      opacity: 0;
    }

    span {
      animation-delay: 0.3s;
    }

    h2 {
      animation-delay: 0.6s;
    }

    p {
      animation-delay: 0.9s;
    }

    button {
      animation-delay: 1s;
    }
  }
}


@keyframes fade-show-top {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



.main_swiper {

  .swiper-slide {
    display: flex;
  }


  @include mobile {
    width: 100%;
    height: 100vh;

    .swiper-slide {
      position: relative;
    }
  }

}



.main_img {

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  @include mobile {

    img {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
  }


  @include laptop {
    width: 100%;
    height: 680px;

    img {
      width: 100%;
      height: 680px;
      object-fit: cover;
    }
  }
}



.main-copy_container {

  @include mobile {
    position: absolute;
    top: 30%;
    left: 30px;
    right: 30px;
  }

  @include laptop {
    flex-basis: 40%;
    flex-shrink: 0;
  }

}



.main-copy {

  span {
    color: #999;
  }

  h2 {
    margin: 5px 0 15px 0;
    line-height: normal;
  }

  p {
    margin-bottom: 40px;
  }

  button {
    width: 180px;
    height: 50px;
    border: 1px solid #333;
    position: relative;
    transition: 0.3s;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #333;
      z-index: -1;
      transition: 0.3s;
    }

    &:hover::after {
      width: 100%;
    }


    &:hover {
      color: white;
    }
  }


  @include mobile {
    text-align: center;

    p {
      width: 70%;
      margin: 0 auto 40px auto;
    }
  }

  @include laptop {
    padding: 0 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}


#main-prev,
#main-next {

  @include mobile {
    display: none;
  }
}


#main-next {
  right: 5%;
  width: 34px;
  height: 34px;
  padding: 8px;

  &::after {
    font-size: 14px;
    color: #333;
  }

  &.swiper-button-disabled {
    opacity: 0.3;
  }

  @include laptop {
    left: 138px;
    top: auto;
    bottom: 140px;
  }
}


#main-prev {
  left: 5%;
  width: 34px;
  height: 34px;
  padding: 8px;

  &::after {
    font-size: 14px;
    color: #333;
  }

  &.swiper-button-disabled {
    opacity: 0.5;
  }

  @include laptop {
    left: 30px;
    right: auto;
    top: auto;
    bottom: 140px;
  }
}


#main-pagination {
  height: 2px;

  @include mobile {
    width: 50% !important;
    top: auto;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  @include laptop {
    width: 84px !important;
    top: auto;
    bottom: 147px;
    left: 60px;
    right: auto;
  }
}


.main-pagination {
  height: 20px !important;

  .swiper-pagination-bullet {
    width: 20px !important;
    height: 20px;
    font-size: 12px;
    line-height: 18px;
    border: 1px solid #333;
    color: #333;
    background-color: transparent;

    &.swiper-pagination-bullet-active {
      background-color: transparent;
      font-weight: 700;
    }
  }


  @include mobile {
    height: 40px !important;

    .swiper-pagination-bullet {
      width: 40px !important;
      height: 40px;
      line-height: 40px;
      font-size: 14px;

    }
  }
}



// popular

.popular {
  padding: 140px 30px;

  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }
}


.popular_title {
  padding-bottom: 20px;
  margin-bottom: 20px;


  h2 {
    margin-bottom: 10px;
  }

  a {
    margin-top: 20px;
    position: relative;
    display: inline-block;

    &::before {
      content: '';
      border-bottom: solid 1px #222;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      transition: all 0.4s ease;
    }

    &:hover::before {
      width: 100%;
    }
  }

}


.popular_wrapper {
  position: relative;
}


.popular_swiper {
  padding-bottom: 100px !important;
  position: static;

  .swiper-slide {
    padding: 0 10px 30px 10px;
    transition: 0.3s;

    &:hover {
      background-color: rgba(175, 172, 153, 0.1);
    }
  }
}


.popular_product_img {
  width: 100%;
  min-height: 300px;
  position: relative;

  img {
    width: 120px;
    height: 220px;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
  }
}


.product_info_box {
  text-align: center;

  h6 {
    font-size: 18px;
    font-weight: 400;
  }

  p {
    padding: 10px 0 30px 0;
    border-bottom: 1px solid #949494;
  }

  span {
    display: block;
    padding: 20px 0;
  }


  button {
    width: 140px;
    height: 50px;
    border: 1px solid #333;
    position: relative;
    transition: 0.3s;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #333;
      z-index: -1;
      transition: 0.3s;
    }

    &:hover::after {
      width: 100%;
    }

    &:hover {
      color: white;
    }
  }
}



#popular-pagination {

  .swiper-pagination-bullet {
    width: 5%;
    height: 1.5px;
    border-radius: 0;
    margin: 0 !important;
    transition: ease-in 0.3s;

    &.swiper-pagination-bullet-active {
      width: 10%;
      background-color: #333;
    }
  }
}



#popular-next {
  right: -30px;
  width: 30px;
  height: 30px;
  padding: 8px;
  top: calc(50% - 40px) !important;

  &::after {
    font-size: 18px;
    color: #333;
  }

  &.swiper-button-disabled {
    opacity: 0.3;
  }
}


#popular-prev {
  left: -30px;
  width: 30px;
  height: 30px;
  padding: 8px;
  top: calc(50% - 40px) !important;

  &::after {
    font-size: 18px;
    color: #333;
  }

  &.swiper-button-disabled {
    opacity: 0.5;
  }
}




// travel 


.travel {
  padding: 0 30px 140px 30px;

  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }

}


.travel_container {

  @include laptop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

}



.travel_img_box {

  img {
    width: 100%;
    display: block;
  }

  @include mobile {
    width: 100%;
    height: 300px;

    img {
      height: 300px;
      object-fit: cover;
    }
  }

  @include laptop {
    grid-column: 1/3;
  }
}


.travel-copy {
  display: flex;
  flex-direction: column;
  justify-content: center;

  span {
    color: #999;
  }

  h2 {
    margin: 5px 0 15px 0;
    line-height: normal;
  }

  p {
    margin-bottom: 40px;
  }

  button {
    width: 180px;
    height: 50px;
    border: 1px solid #333;
    position: relative;
    transition: 0.3s;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #333;
      z-index: -1;
      transition: 0.3s;
    }

    &:hover::after {
      width: 100%;
    }

    &:hover {
      color: white;
    }
  }


  @include mobile {
    padding-top: 30px;

    p {
      margin-right: 40px;
    }
  }
}




//video 

.video_content {
  padding: 140px 0;
  background-color: #dcdacc;

  @include mobile {
    padding: 140px 30px;
  }
}


.video_copy {
  text-align: center;
  margin-bottom: 40px;

  span {
    color: #999;
  }

  h2 {
    margin: 0px 0 20px 0;
  }

  p {
    width: 60%;
    margin: 0 auto;
  }
}


.video_content_container {
  max-width: 460px;
  height: 460px;
  margin: 0 auto;
  border-radius: 50%;
  // border: 1px solid gray;
  overflow: hidden;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  @include mobile {
    width: 320px;
    height: 320px;
  }
}



.video_btn {
  text-align: center;
  margin-top: 40px;

  button {
    width: 180px;
    height: 50px;
    border: 1px solid #333;
    position: relative;
    transition: 0.3s;
    z-index: 2;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #333;
      z-index: -1;
      transition: 0.3s;
    }

    &:hover::after {
      width: 100%;
    }

    &:hover {
      color: white;
    }
  }
}





// hand 1


.hand1 {
  padding: 140px 30px;

  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }

}



.hand1_container {

  @include mobile {
    display: flex;
    flex-direction: column-reverse;
  }

  @include laptop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }

}



.hand1_img_box {

  img {
    width: 100%;
    display: block;
  }

  @include mobile {
    width: 100%;
    height: 300px;

    img {
      width: 100%;
      height: 300px;
      display: block;
      object-fit: cover;
    }
  }

  @include laptop {
    grid-column: 2/4;
  }
}


.hand1-copy {

  span {
    color: #999;
  }

  h2 {
    margin: 5px 0 15px 0;
    line-height: normal;
  }

  p {
    margin-bottom: 40px;
  }

  button {
    width: 180px;
    height: 50px;
    border: 1px solid #333;
    position: relative;
    transition: 0.3s;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #333;
      z-index: -1;
      transition: 0.3s;
    }

    &:hover::after {
      width: 100%;
    }

    &:hover {
      color: white;
    }
  }


  @include mobile {
    padding-top: 30px;
    text-align: right;

    p {
      margin-left: 40px;
    }
  }

  @include laptop {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}




// skin 

.skin {
  background-color: #e8e5d4;
}

.skin_container {
  padding: 140px 30px;

  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }

}



.skin-copy {

  text-align: center;

  h1 {
    font-size: 38px;
  }

  h4 {
    margin-top: 50px;
    margin-bottom: 20px;
  }

  p {
    width: 70%;
    margin: 0 auto;
  }
}

.skin_type {
  padding-top: 60px;
  display: flex;
  justify-content: center;

  a {
    text-align: center;
    display: block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #333;
    margin: 0 10px;
    padding-top: 60px;
    font-family: $heading_font;
    font-size: 18px;
    transition: 0.3s;

    &:nth-child(4) {
      padding-top: 50px;
    }

    &:hover {
      color: white;
      background-color: #333;
    }

  }


  @include mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 320px;
    margin: 0 auto;
  }
}




// summer

.summer {
  padding: 140px 30px 0 30px;
  text-align: center;

  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }

}

.summer-copy {
  margin-bottom: 40px;

  h2 {
    margin-bottom: 10px;
  }

  p {
    width: 70%;
    margin: 0 auto;
  }
}


.summer_card_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;

  img {
    width: 100%;
    display: block;
  }

  @include mobile {
    max-width: 600px;
    margin: 0 auto;
  }

  @include laptop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}


.summer_card {
  border: 1px solid #333;
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #333;
    background-color: #e0dfd6;
    display: block;
  }

}


.summer_card_copy {
  padding: 20px 10px;

  h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    line-height: 1.2em;
    height: 1.2em;
  }
}



.summer_btn {
  margin-top: 60px;

  button {
    width: 180px;
    height: 50px;
    border: 1px solid #333;
    position: relative;
    transition: 0.3s;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background-color: #333;
      z-index: -1;
      transition: 0.3s;
    }

    &:hover::after {
      width: 100%;
    }

    &:hover {
      color: white;
    }
  }
}





// location

.location {
  padding: 140px 0;
}


.location-copy {
  padding: 0 30px;

  h2 {
    margin-bottom: 10px;
  }

  button {
    display: flex;
    line-height: 20px;

    span {
      display: block;
    }

    span:last-child {
      margin-left: 5px;
      width: 14px;
      height: 20px;
      background: url('../img/icon/right-arrow-long.png') no-repeat;
      background-position: center center;
      background-size: 14px 14px;
    }
  }


  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }
}


.location_swiper {
  margin-top: 40px;
  padding-bottom: 80px !important;


  .swiper-slide {
    overflow: hidden;
  }

  img {
    width: 100%;
    display: block;
    transition: 0.3s;

    &:hover {
      transform: scale(1.05);
    }
  }



  .swiper-button-next {
    width: 30px;
    height: 30px;
    padding: 8px;
    transform: translateY(-50%);

    &::after {
      font-size: 18px;
      color: white;
    }

    &.swiper-button-disabled {
      opacity: 0.3;
    }
  }


  .swiper-button-prev {
    width: 30px;
    height: 30px;
    padding: 8px;
    transform: translateY(-50%);

    &::after {
      font-size: 18px;
      color: white;
    }

    &.swiper-button-disabled {
      opacity: 0.5;
    }
  }

  .swiper-pagination {

    .swiper-pagination-bullet {
      width: 5%;
      height: 1.5px;
      border-radius: 0;
      margin: 0 !important;
      transition: ease-in 0.3s;

      &.swiper-pagination-bullet-active {
        width: 10%;
        background-color: #333;
      }
    }
  }
}



// footer 

footer {
  background-color: #ceccbf;
  border-top: 2px solid #333;
  font-size: 14px;
}


.footer_container {
  padding: 80px 30px 140px 30px;

  @include desktop {
    width: 1200px;
    margin: 0 auto;
  }
}


.social {
  padding-bottom: 100px;

  @include laptop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.email {

  h4 {
    margin-bottom: 20px;
  }

  >input {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #333;
    padding: 0 20px;
    background-color: transparent;
  }

  @include laptop {
    width: 50%;
  }

}


.email_checkBox {
  margin: 20px 0 40px 0;
  display: flex;

  input {
    flex-shrink: 0;
    margin-right: 10px;
    width: 14px;
    height: 14px;
    border: 1px solid #333;
    background-color: transparent;
    appearance: none;
  }

  input:checked {
    background: url('../img/icon/checked.png') no-repeat;
    background-position: center center;
    background-size: 12px 12px;
  }

  label {
    line-height: 14px;
  }
}


.socialmedia {

  ul {

    li {
      display: inline-block;
      margin: 0 5px;

      a {
        display: block;
        width: 30px;
        height: 30px;
      }
    }

    li:nth-child(1) {
      background: url('../img/icon/facebook.png') no-repeat;
      background-position: center center;
      background-size: 30px 30px;
    }

    li:nth-child(2) {
      background: url('../img/icon/instagram.png') no-repeat;
      background-position: center center;
      background-size: 30px 30px;
    }

    li:nth-child(3) {
      background: url('../img/icon/youtube.png') no-repeat;
      background-position: center center;
      background-size: 30px 30px;
    }
  }


  @include mobile {
    margin-top: 20px;
  }

}



.footer_nav {

  @include laptop {
    >ul {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 20px;
    }
  }

}



.footer_nav>ul>li {

  @include mobile {
    border-top: 1px solid #333;


    &:last-child {
      border-bottom: 1px solid #333;
    }
  }

}


.footernav_inner {

  li {
    margin: 10px 0;

    a {
      position: relative;
      display: inline-block;

      &::before {
        content: '';
        border-bottom: solid 1px #222;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        transition: all 0.4s ease;
      }

      &:hover::before {
        width: 100%;
      }
    }
  }

  @include mobile {
    height: 0;
    transition: all 0.4s cubic-bezier(.42, .2, .08, 1);
    overflow: hidden;
  }

  @include laptop {
    display: block !important;
  }

}



.footernav_inner.footernav_inner_active {
  @include mobile {
    height: auto;
    padding-bottom: 20px;
  }
}



.footer_head {

  @include mobile {
    text-transform: uppercase;
    font-weight: 700;
    padding: 16px 0;
    display: block;
    cursor: pointer;
    background-image: url('../img/icon/plus.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 18px 18px;
  }


  @include laptop {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 14px;
    display: block;
  }

}


.footer_head.footernavOpen {
  background-image: url('../img/icon/minus.png');
}